.bouncingArrow {
  font-size: 3rem; /* Adjust size as needed */
  animation: bob 1.5s infinite;
}

@keyframes bob {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); /* Adjust bobbing distance as needed */
  }
}

.hoverMove {
  /* position: relative; */
  /* top: 0; */
  transition: 0.2s ease-in-out;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 2px 15px 0 rgba(0, 0, 0, 0.15); */
  /* border-radius: 10px; */
}

.hoverMove:hover {
  transform: translateY(-3px);
  cursor: pointer;
}
