.border-white {
  border: 1px white solid;
}

.navContainer {
  max-width: 1000px;
  margin: auto;
}

.navWrap {
  width: 100%;
  border: 1px black solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 2px 15px 0 rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.navText {
  height: 100%;
  margin: auto;
}

.navLogo {
  padding: 2px;
  border-radius: 14px;
  border: 2px solid #fff;
}
