.coverContainer {
    height: 100vh;
    /* max-width: 500px; */
}

.coverCard {
    width: auto;
}

.border-b {
  border: 1px black solid;
}

.underline {
  border-bottom: 0.1rem solid blue;
  display: inline-block;
  line-height: 0.90;
  text-shadow:
    1px 0px white,
    1px -0px white,
    -1px 0px white,
    -1px -0px white;
}

.cardLink {
  font-size: calc(0.9rem + 0.6vw);
  line-height: 1;
  padding-right: 8px;
  color: black;
  text-decoration: none;
  /* text-decoration-color: blue;
  text-decoration-thickness: 0.2em; */
}

.coverTitle {
  font-size: calc(1.5rem + 1vw);
}

.coverSubtitle {
  font-size: calc(2.5rem + 0.7vw);
}

.coverImgScale {
    /* height: 15em */
    max-width: 100%;
    max-height: 40%;
    border-radius: 15px;
    /* border: 1px black solid; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 2px 15px 0 rgba(0, 0, 0, 0.15);
}

.coolBorder {
    /* padding: 60px 10px; */
    
  background:
    linear-gradient(to right, black 4px, transparent 4px) 0 0,
    /* linear-gradient(to right, black 4px, transparent 4px) 0 100%, */
    /* linear-gradient(to left, black 4px, transparent 4px) 100% 0, */
    linear-gradient(to left, black 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, black 4px, transparent 4px) 0 0,
    /* linear-gradient(to bottom, black 4px, transparent 4px) 100% 0, */
    /* linear-gradient(to top, black 4px, transparent 4px) 0 100%, */
    linear-gradient(to top, black 4px, transparent 4px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.coverImage {
  max-width: 40%;
  padding: 10px;
}

.grow { transition: all 0.3s ease-in-out; }
.grow:hover { transform: scale(1.05); }
