.experienceLogo {
    max-width: 100%;
    margin: auto;
}

.experienceLogoContainer {
    border-left: 5px black solid;
    /* margin-left: 15px; */
    width: 25%;
    max-width: 120px;

}

.shadowBorder {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 2px 15px 0 rgba(0, 0, 0, 0.15);
}

.oddSpacing {
    margin: 0px 0px;
}