.border-white {
    border: 1px white solid;
}

.navContainer {
    max-width: 1000px;
    margin: auto
}

.navWrap {
    width: 100%;
    border: 1px black solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 2px 15px 0 rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.navText {
    height: 100%;
    margin:auto;
}