.project {
    min-height: 100px;
    margin: 10px 0px;
    padding: 30px 20px;
    /* background-color: rgba(0, 0, 0, 0.75); */
    /* color: #fff */
    /* background-image: url("../images/yorushika banner cropped.jpg"); */
}

.projectBg {
    background-color: rgba(255, 255, 255, 0.75);
}

.projectLink {
    text-decoration: none;
    color: inherit;
}

.projectLink:hover {
    color: inherit;
}

.hoverMove {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 2px 15px 0 rgba(0, 0, 0, 0.15);
}

.hoverMove:hover {
    top: -5px;

}
