.hoverMove {
  position: relative;
  top: 0;
  transition: 0.3s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.hoverMove:hover {
  transform: translateY(-5px);
}
