.technology {
    padding-right: 10px;
}

.dot {
    height: 11px;
    width: 11px;
    margin-right: 2px;
    background-color: #bbb;
    border: 0.2px black solid;
    border-radius: 50%;
    display: inline-block;
  }

.python {
  background-color: #4B8BBE;
  border: 1px solid #306998 ;
}

.javascript {
  background-color: #f0db4f;
  border: 1px solid #cebb44;
}

.html {
  background-color: #f06529;
  border: 1px solid #e34c26;
}

.css {
  background-color: #9370DB;
  border: 1px solid #8A2BE2;
}

.bash {
  background-color: #818181;
  border: 1px solid #323232;
}

.sqlite {
  background-color: #43647e;
  border: 1px solid #1d2b36;
}

.redis {
  background-color: #D82C20;
  border: 1px solid #A41E11;
}

.react {
  background-color: #61DBFB;
  border: 1px solid #4ba9c0;
}

.aws {
  background-color: #FF9900;
  border: 1px solid #c37604;
}

.mongodb {
  background-color: #4DB33D;
  border: 1px solid #3FA037;
}

.express {
  background-color:#cbcbcb;
  border: 1px solid #696969
}

.gcp {
  background-color:#4285F4;
  border: 1px solid #1967D2;
}

.opencv {
  background-color: #cf1f1f;
  border: 1px solid #a71919;
}

.latex {
  background-color: #46b63c;
  border: 1px solid #307b29;
}